<a href="https://colab.research.google.com/github/sdslrn123/Programming/blob/master/Shortcuts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Cool Shortcuts***

*References*  
https://medium.com/@tuewithmorris/google-colab-notebooks-keyboard-shortcuts-aa6a008fb91b

The above is a great article.

Tips  
2 spaces means newline

***Notation***  
Ctrl + M H   
Hold onto Ctrl and M then let go of M and while still pressing Ctrl press H

#Colab Shortcuts

In [70]:
import pandas as pd
df=pd.read_csv("https://gist.githubusercontent.com/morriswong/35f90d593e901bf131a72631a6127e53/raw/322fe8f689fcb57b592698e26b9050014cda8da8/Google%20Colab%20Keyboards%20shortcuts.csv")
df=df.reset_index(drop=True)
#df=df.reset_index() # return back the original index
print (df)

                   Actions          Colab        Jupyter
0  show keyboard shortcuts   Ctrl/Cmd M H             H
1   Insert code cell above   Ctrl/Cmd M A              A
2   Insert code cell below   Ctrl/Cmd M B              B
3    Delete cell/selection   Ctrl/Cmd M D             DD
4      Interrupt execution   Ctrl/Cmd M I             II
5     Convert to code cell   Ctrl/Cmd M Y              Y
6     Convert to text cell   Ctrl/Cmd M M              M
7          Split at cursor   Ctrl/Cmd M -   Ctrl Shift -

In [69]:
#Create additional rows
#Defining a dictionary



df2 = pd.DataFrame(data={'Actions':["Run Cell","Run and Move to Next Cell","Run and Insert New Code Cell"],
                    ' Colab':["Ctrl + Enter","Shift + Enter","Alt+Enter"],
                    ' Jupyter':["-","-","-"]},
                   columns=['Actions',' Colab',' Jupyter'],
                   index = [8, 9,10])




df3=pd.concat([df,df2])
print(df3)
display(df3)
df3

#a-ha moment: when there was no space in Colab or Jupyter it was giving multiple columns
# importance of having exact column names

                         Actions          Colab        Jupyter          Colab
0        show keyboard shortcuts   Ctrl/Cmd M H             H             NaN
1         Insert code cell above   Ctrl/Cmd M A              A            NaN
2         Insert code cell below   Ctrl/Cmd M B              B            NaN
3          Delete cell/selection   Ctrl/Cmd M D             DD            NaN
4            Interrupt execution   Ctrl/Cmd M I             II            NaN
5           Convert to code cell   Ctrl/Cmd M Y              Y            NaN
6           Convert to text cell   Ctrl/Cmd M M              M            NaN
7                Split at cursor   Ctrl/Cmd M -   Ctrl Shift -            NaN
8                       Run Cell            NaN              -   Ctrl + Enter
9      Run and Move to Next Cell            NaN              -  Shift + Enter
10  Run and Insert New Code Cell            NaN              -      Alt+Enter

                         Actions          Colab        Jupyter          Colab
0        show keyboard shortcuts   Ctrl/Cmd M H             H             NaN
1         Insert code cell above   Ctrl/Cmd M A              A            NaN
2         Insert code cell below   Ctrl/Cmd M B              B            NaN
3          Delete cell/selection   Ctrl/Cmd M D             DD            NaN
4            Interrupt execution   Ctrl/Cmd M I             II            NaN
5           Convert to code cell   Ctrl/Cmd M Y              Y            NaN
6           Convert to text cell   Ctrl/Cmd M M              M            NaN
7                Split at cursor   Ctrl/Cmd M -   Ctrl Shift -            NaN
8                       Run Cell            NaN              -   Ctrl + Enter
9      Run and Move to Next Cell            NaN              -  Shift + Enter
10  Run and Insert New Code Cell            NaN              -      Alt+Enter

                         Actions          Colab        Jupyter          Colab
0        show keyboard shortcuts   Ctrl/Cmd M H             H             NaN
1         Insert code cell above   Ctrl/Cmd M A              A            NaN
2         Insert code cell below   Ctrl/Cmd M B              B            NaN
3          Delete cell/selection   Ctrl/Cmd M D             DD            NaN
4            Interrupt execution   Ctrl/Cmd M I             II            NaN
5           Convert to code cell   Ctrl/Cmd M Y              Y            NaN
6           Convert to text cell   Ctrl/Cmd M M              M            NaN
7                Split at cursor   Ctrl/Cmd M -   Ctrl Shift -            NaN
8                       Run Cell            NaN              -   Ctrl + Enter
9      Run and Move to Next Cell            NaN              -  Shift + Enter
10  Run and Insert New Code Cell            NaN              -      Alt+Enter

In [71]:
#Convert this so you can have an extra column


#https://www.youtube.com/watch?v=4buL9Rk8bXM
#^ ways to get column names

#Method 1 of 6 
#.columns
print(df.columns)

#Method 2 of 6
#Column Names .keys()
print(df.keys())

#method 3 of 6
#Column Names for loop
for col in df.columns:
  print(col)

#Method 4 of 6
#List of column Names
print(list(df.columns))

#Method 5 of 6
#Column Values to a List
print(df.columns.values.tolist)

#Method 6 of 6
print(df.values)
sorted(df)

Index(['Actions', ' Colab', ' Jupyter'], dtype='object')
Index(['Actions', ' Colab', ' Jupyter'], dtype='object')
Actions
 Colab
 Jupyter
['Actions', ' Colab', ' Jupyter']
<built-in method tolist of numpy.ndarray object at 0x7ff1d22606c0>
[['show keyboard shortcuts' ' Ctrl/Cmd M H' ' H ']
 ['Insert code cell above' ' Ctrl/Cmd M A' ' A']
 ['Insert code cell below' ' Ctrl/Cmd M B' ' B']
 ['Delete cell/selection' ' Ctrl/Cmd M D' ' DD']
 ['Interrupt execution' ' Ctrl/Cmd M I' ' II']
 ['Convert to code cell' ' Ctrl/Cmd M Y' ' Y']
 ['Convert to text cell' ' Ctrl/Cmd M M' ' M']
 ['Split at cursor' ' Ctrl/Cmd M -' ' Ctrl Shift -']]

[' Colab', ' Jupyter', 'Actions']

In [73]:
#Remove spaces in the columns

df.rename(columns={" Colab":"Colab"})
print(df.columns)
df.rename(columns={" Colab":"Colab"},inplace=True)
print(df.columns)
df.rename(columns={" Colab":"Colab"," Jupyter":"Jupyter"},inplace=True)

Index(['Actions', 'Colab', ' Jupyter'], dtype='object')
Index(['Actions', 'Colab', ' Jupyter'], dtype='object')